[submodule "data_query"]
	path = data_query
	url = https://github.com/NYSCF/data_query.git
[submodule "Nuclei_segmentation"]
	path = Nuclei_segmentation
	url = https://github.com/NYSCF/Nuclei_segmentation
[submodule "Quality_control_HCI"]
	path = Quality_control_HCI
	url = https://github.com/NYSCF/Quality_control_HCI.git
[submodule "Embeddings_extraction_from_image"]
	path = Embeddings_extraction_from_image
	url = https://github.com/NYSCF/Embeddings_extraction_from_image.git
[submodule "MaskRCNN_Deployment"]
	path = MaskRCNN_Deployment
	url = https://github.com/NYSCF/MaskRCNN_Deployment.git
