scikit-image==0.20
pandas
numpy
pytest
opencv-python-headless
scipy
matplotlib
mahotas
boto3
matplotlib
requests
pyyaml

# necessary because of importing embedding submodule at top of vector_extraction_class.py
tf_slim
tensorflow==2.9