matplotlib==3.8.4
numpy==1.26.4
opencv_python_headless==4.9.0.80
pandas==2.2.2
Pillow==10.4.0
prettytable==3.10.2
pytest==8.2.0
PyYAML==6.0.1
scipy<=1.14.0
setuptools==68.2.2
scikit-image<=0.20.0
mahotas==1.4.15

# AWS reqs
# pyarrow==17.0.0
# boto3==1.34.95
# botocore==1.34.95
# ec2_metadata==2.13.0